

#selection
  .grid-x
    - if @maps.count > 0
      .cell.medium-12
        = simple_form_for :navselector, url: '' do |f|
          .input-group
            .input-group-label
              %i.fi-map.fi-24
            = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => @map, :include_blank => 'Select a map...', input_html: {:class => 'nav-selector'}
            .input-group-button
              = link_to new_map_path, :class => 'button secondary', :title => 'Create a new map' do
                %i.fi-plus.fi-24

    - else
      .cell.medium-12
        = link_to new_map_path, :class => 'button info' do
          %i.fi-plus.fi-24
          Create a map
