#form-wrapper
  %h1 #{Settings.app_name}
  %h3 Change your password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    .form-inputs
      = f.input :password, label: "New password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, label: "Confirm your new password", required: true
    .form-actions
      = f.button :submit, "Change my password"
  = render "devise/shared/links"
