#form-wrapper
  %h1 #{Settings.app_name}
  %h3 Forgot your password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true
    .form-actions
      = f.button :submit, "Send me reset password instructions"
  = render "devise/shared/links"
