
#table-wraper

  %h1 Listing iconsets

  %table
    %thead
      %tr
        %th Title
        %th Image
        %th
        %th
        %th

    %tbody
      - @iconsets.each do |iconset|
        %tr
          %td
            %h4= iconset.title
            - if iconset.text.present?
              %p= iconset.text
          %td= iconset.image
          %td= link_to 'Show', iconset
          %td= link_to 'Edit', edit_iconset_path(iconset)
          %td= link_to 'Destroy', iconset, method: :delete, data: { confirm: 'Are you sure?' }

  %p
    = link_to new_iconset_path, :class=>'button' do
      %i.fi-plus.fi-24
      New Iconset