#form-wrapper
  %h1 #{Settings.app_name}
  %h3 Sign in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .grid-x
      .large12.cell
    .grid-x
      .large12.cell
        .form-inputs
          = f.input :email, required: false
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Log in"
  = render "devise/shared/links"
