= simple_form_for([@map, @layer]) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-3.cell
      &nbsp;
    .large-6.medium-12.cell
      .form-inputs
        = f.input :title
        = f.input :text
        = f.input :published
        = f.association :map, collection: Map.by_user(current_user), include_blank: false
      .form-actions
        = f.button :submit, :class => "button"
    .large-3.cell
      &nbsp;