
#table-wrapper
  %h1
    = link_to map_path(@map) do
      = @map.title


  %table
    %thead
      %tr
        %th Layer
        %th Published?
        %th
        %th

    %tbody
      - @layers.each do |layer|
        %tr
          %td
            %h4
              = link_to map_layer_url(layer.map,layer) do
                = layer.title
                (#{layer.places.count})
            - if layer.text.present?
              %p= layer.text
          %td
            - if layer.published
              %i.fi-check.fi-24
            - else
              %i.fi-x.fi-24
          %td= link_to 'Edit', edit_map_layer_path(@map, layer)
          %td= link_to 'Destroy', map_layer_path(@map, layer), method: :delete, data: { confirm: 'Are you sure?' }

  %p

    = link_to new_map_layer_path(@map), :class=>'button' do
      %i.fi-plus.fi-24
      New Layer