- if @map.script && @map.script.present?
  :javascript
    $(document).on('turbolinks:load', function() {
        #{raw(@map.script)}
    });


#selection{:data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}.json", 'map_id' => "#{@map.id}" }}
  .grid-x
    .cell.medium-12
      = simple_form_for :navselector, url: '/maps/', html: { method: :get }  do |f|
        .input-group
          .input-group-label
            = link_to map_path(@map) do
              %i.fi-map.fi-24
          = f.input :id, :collection => @maps.map { |m| ["#{m.title}", "/maps/#{m.id}", :class => "map-#{m.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}", :include_blank => false, input_html: {:class => 'nav-selector'}
          .input-group-button.hide
            = link_to new_map_path, :class => 'button secondary', :title => 'Create a new map' do
              %i.fi-plus.fi-24

  .grid-x
    .cell.medium-12
      - if @map_layers.count > 0
        .input-group
          .input-group-label
            = link_to map_layers_path(@map) do
              %i.fi-page-multiple.fi-24
          = simple_form_for :navselector, url: '', html: { method: :get }  do |f|
            = f.input :id, :collection => @map_layers.map { |l| ["#{l.title} (#{l.places.count})", "/maps/#{@map.id}/layers/#{l.id}", :class => "layer-#{l.id} input-group-field"] }, :label => false, :selected => "/maps/#{@map.id}/layers/#{@layer.id}", :include_blank => false, input_html: {:class => 'nav-selector'}

          .input-group-button.hide
            = link_to new_map_layer_path(@map), :class => 'button secondary', :title => 'Create new layer' do
              %i.fi-plus.fi-24
      - else
        = link_to new_map_layer_path(@map), :class => 'button info' do
          %i.fi-plus
          Create a layer for this map


  .grid-x
    .cell.medium-12
      = simple_form_for :addresslookup, url: '', html: { method: :get, :id => 'addresslookup' } do |f|
        .input-group
          .input-group-label
            = link_to map_layer_places_path(@map,@layer), :title => "Show all places for this layer" do
              %i.fi-marker.fi-24
          = f.input :address, :label => false, :placeholder => 'Name, Street + Number...', input_html: {:class => "address-lookup-field input-group-field", :data => { 'url' => "/maps/#{@map.id}/layers/#{@layer.id}" }}
          .input-group-button
            %button{:id => 'addresslookup_button', :class => 'button secondary', :title => 'Lookup for address'}
              %i.fi-magnifying-glass.fi-24

      - if params[:remap]
        %p#selection-hint
          Type an address or double-click on the map to change the location of
          =link_to edit_map_layer_place_path(@map,@layer,@place) do
            #{@place.title}


      - else
        %p#selection-hint Type an address or double-click on the map to create a place


