p {
  font-size: 16px;
  line-height: 1.33;
}

a.disabled {
   cursor: not-allowed;
}
div.small {
    font-size: 0.8rem;
}
.hide {display: none;}
.shy {

    color: #888;
    font-size: 90%;

}
span.name, label {
    color: #888;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
}
/* -------------------- */
/* foundation adapations */
.callout {
    border: 0px;
    margin: 20px 0 1rem;
}
div.panel {
    border: 5px solid #bbc;
    margin: 20px 40px;
    padding: 20px;
}
div.columns.borderless {padding: 0;}


a.button {
  color: white !important;
}
.close-button.small {
    right: 0.66rem;
    top: auto;
    font-size: 1em;
    line-height: 1;
    position: absolute;
}


select {
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none  ;
}
/* -------------------- */
.top-bar, .top-bar ul {
    background-color: #333;
}

@media screen and (max-width: 63.9375em) {

}
@media screen and (max-width: 39.9375em) {
  .top-bar .top-bar-left, .top-bar .top-bar-right {
      flex: 0 0 100%;
      max-width: 50%;
  }
  #maps header,
  #layers header {
    display: none;
  }
}




/* -------------------- */
footer {
  background-color: #333;
  z-index: 15;
  color: #555;
}
/* -------------------- */
div.input-group {
  select {
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  }
  div.input-group-button a.button {
      padding: 0.4em 1em 0 1em;
  }
}
.form-actions {
  margin-top: 25px;
}
/* -------------------- */