/* -------------------- */
body {
    background-color: #333;
}
#map {
  height: 100vh;
  z-index: 1;
}
main {
  display: block;
  z-index: 9999;
  position: absolute;
  top: 0;
  margin: 75px 0 0 20px;
  background-color: transparent;
  min-height: auto;
  padding: 0;

}
@media screen and (max-width: 63.9375em) {
  main {


  }
}
@media screen and (max-width: 39.9375em) {
  main {
      padding: 5px;
      top: 0;
      margin: 5px 0 0 0;
      min-height: none;
      right: 0;
      left: 0;
      max-width: 99%;
      min-height: auto;
  }
}

/* -------------------- */
form#addresslookup {
  .input-group {
    margin: 0;
  }
}
/* -------------------- */
#map .leaflet-popup-content-wrapper, #map  .leaflet-popup-tip {
    background: rgba(255,255,255,0.7);
    color: #333;
    box-shadow: 0;
    border-radius: 0;

    p {
      margin: 8px 0;

      a {
        color: black;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: underline;
      }
    }
}
/* -------------------- */

#selection {

}
#selection p#selection-hint {
  background-color: rgba(200,200,200,0.5);
  padding: 5px 10px;
  margin: 0;
  max-width: 310px;
  display: block;
  margin-top: 1rem;
}
@media screen and (max-width: 63.9375em) {

  #selection p#selection-hint {
    display: none;
  }
}
#selection p#selection-hint.active {
  background-color: rgba(200,200,200,0.8);
  color: #522;
  display: block;
}

#selection ul#response {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  li  {

    margin: 0 0 1rem 0;

    a {
      display: block;
      padding: 0.4rem;
      background-color: rgba(255,255,255,0.7);
      border: 1px solid rgba(255,255,255,0.7);
    }
    a:hover {
      border: 1px solid red;
      background-color: rgba(255,255,255,0.9);
    }
  }

}

#info-wrapper,
#table-wrapper,
#form-wrapper {
  background-color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  min-width: 400px;
}

#table-wrapper.large-wrapper,
#form-wrapper.large-wrapper {
  min-width: 700px;
}
@media screen and (max-width: 63.9375em) {
  #info-wrapper,
  #table-wrapper,
  #form-wrapper {
    min-width: auto;
  }
  #table-wrapper.large-wrapper,
  #form-wrapper.large-wrapper {
    min-width: auto;
  }
}



/* -------------------- */
.form-actions {
    margin-top: 0;
}
/* -------------------- */

div.place_layer {
  padding-top: 5px;
  padding-bottom: 10px;
  label {
    display: inline;
  }
  select#place_layer_id {
    display: inline;
    width: 80%;
    margin-left: 20px;
  }
}

select.datetime {
  width: 100px;
  padding: 0.3rem;
}
select#place_startdate_1i,
select#place_enddate_1i  {
  width: 62px;
}
select#place_startdate_3i,
select#place_enddate_3i  {
  width: 46px;
}
select#place_startdate_4i,
select#place_enddate_4i
 {
  width: 46px;
}
select#place_startdate_5i,
select#place_enddate_5i  {
  width: 46px;
}