/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require foundation_and_overrides
 *= require 1_basics
 *= require 2_styles
 *= require leaflet/dist/leaflet


 */

@import "foundation";
@import 'foundation-icons';


main {
  min-height: 450px;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}


.fi-21 { font-size: 24px; }
.fi-24 { font-size: 24px; }