
= simple_form_for [:admin, @admin_user], as: :admin_user do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.input :email
  %p
    = f.input :password
  %p
    = f.label :role
    = f.select :role, Ability.role_symbols, include_blank: false
  %p
    = f.association :group, collection: Group.by_user(current_user), include_blank: false

  %p.actions
    = f.submit 'Save', :class => 'button'
