

#table-wrapper
  %h1 Users

  %table
    %thead
      %tr
        %th Email
        %th Role
        %th Group
        %th
        %th

    %tbody
      - @admin_users.each do |admin_user|
        %tr
          %td= admin_user.email
          %td= admin_user.role
          %td
            - if admin_user.group
              = admin_user.group.title
          %td
            = link_to edit_admin_user_path(admin_user), :class => 'button' do
              %i.fi.fi-pencil
              Edit
          %td
            = link_to [:admin, admin_user ], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button warning' do
              %i.fi.fi-x
              Destroy

      = paginate @admin_users

  %br

  = link_to new_admin_user_path, :class => "button secondary" do
    %i.fi.fi-plus
    New User
