= simple_form_for([@iconset,@icon]) do |f|
  .grid-x
    .large-12.cell
      = f.error_notification
  .grid-x
    .large-3.cell
      &nbsp;
    .large-6.medium-12.cell
      .form-inputs
        = f.input :title
        = f.input :image
        = f.association :iconset
      .form-actions
        = f.button :submit, :class => "button"
    .large-3.cell
      &nbsp;