%p#notice= notice

%p
  %b Title:
  = @icon.title
%p
  %b Image:
  = @icon.image
%p
  %b Iconset:
  = @icon.iconset

= link_to 'Edit', edit_iconset_icon_path(@iconset,@icon)
\|
= link_to 'Back',  iconsets_path(@iconset)
