
#table-wrapper
  = link_to map_layer_url(@map,@layer), :class=>"close-button button small", "aria-label"=>"Close back",:type=>"button" do
    %span{"aria-hidden"=>"true"}
      %i.fi.fi-x
  %h3
    = link_to map_path(@layer.map) do
      = @layer.map.title
    \>
    = link_to map_layer_path(@layer.map,@layer) do
      = @layer.title
    (#{@places.count})


  %table
    %thead
      %tr
        %th Date
        %th Title/Link
        %th Address
        %th Lat/Lon
        %th Published?
        %th
        %th

    %tbody
      - @places.order(:startdate).each do |place|
        %tr
          %td
            = smart_date_display(place.startdate, place.enddate)
          %td
            %h4= place.title
            %p= place.link
          %td
            = place.location
            %br
            = place.address
            %br
            = place.zip
            = place.city
          %td
            #{place.lat[0..6]}/#{place.lon[0..5]}
          %td
            - if place.published
              %i.fi-check.fi-24
            - else
              %i.fi-lock.fi-24
          %td= link_to 'Edit', edit_map_layer_place_path(place.layer.map,place.layer,place)
          %td= link_to 'Destroy',  map_layer_place_path(place.layer.map,place.layer,place), method: :delete, data: { confirm: 'Are you sure?' }