%p#notice= notice

%p
  %b Title:
  = @place.title
%p
  %b Teaser:
  = @place.teaser
%p
  %b Text:
  = @place.text
%p
  %b Link:
  = @place.link
%p
  %b Startdate:
  = @place.startdate
%p
  %b Enddate:
  = @place.enddate
%p
  %b Lat:
  = @place.lat
%p
  %b Lon:
  = @place.lon
%p
  %b Location:
  = @place.location
%p
  %b Address:
  = @place.address
%p
  %b Zip:
  = @place.zip
%p
  %b City:
  = @place.city
%p
  %b Country:
  = @place.country
%p
  %b Published:
  = @place.published
%p
  %b Layer:
  = @place.layer

