.top-bar
  .top-bar-left
    %ul.menu.show-for-medium
      %li.name= link_to "#{Settings.app_name}", root_path
      - if user_signed_in?
        - if admin?
          %li
            %a{:href => maps_path}
              %i.fi-map
              %span.show-for-large
                Maps
          %li
            %a{:href => iconsets_path}
              %i.fi-marker
              %span.show-for-large
                Iconsets


  .top-bar-right
    %ul.menu
      - if user_signed_in?
        %li
          %a{:href => edit_user_password_path}
            #{current_user.email} (#{current_user.group.title})


        - if admin?
          %li
            %a{:href => admin_users_path}
              %i.fi-torsos-all
              %span.show-for-large
                Users
          %li
            %a{:href => admin_groups_path}
              %i.fi-torsos-all
              %span.show-for-large
                Groups

        %li.show-for-large
          = link_to destroy_user_session_path, method: :delete, :id => 'logout' do
            %i.fi-power
            = t(".sign_out")
      - else
        %li
          = link_to new_user_session_path, :id => 'login' do
            = t(".sign_in")
