!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "#{Settings.app_name}"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  - klass = ""
  - if current_user
    - klass = "logged_in "
  - if Rails.env == 'staging' || Rails.env == 'developement'
    - klass = klass + "#{Rails.env.parameterize}"
  - id = ''
  - if controller_name
    - id = "#{controller_name.parameterize}"

  %body{:id=>"#{id}", :class=>"#{klass}"}
    %header
      = render 'layouts/navigation'

    #map
      MAP
    %main{role: "main"}
      .grid-x
        .cell.medium-12
          = render 'layouts/messages'
      .grid-x
        .cell.medium-12
          = yield
    %footer.footer
      .grid-x
        .cell.medium-6
          = render partial: "layouts/version"
        .cell.medium-6
          = render partial: "layouts/credits"

